.pagination{
  display: block;
}

.loadList{
  display: none;
  margin: 30px auto !important;
}

.customLoginDialog{
  border-radius: 10px;
  background-image: linear-gradient(to right, #48c6ef 0%, #6f86d6 200%);
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* 登录框标题 */
.customLoginDialog h1{
  margin: 0 0 25px 155px;
  /* 大写 */
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 5px;
}
.customLoginDialog .register{
  margin: 0 0 25px 125px;
  /* 大写 */
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 5px;
}

/* 输入框 */
.customLoginDialog input {
  background-color: transparent;
  width: 60%;
  color: #fff;
  outline: none;
  border: none;
  border-bottom: 2px solid rgba(255, 255, 255, 0.7);
  padding: 5px 0;
  margin: 8px 85px;
  text-indent: 5px;
  font-size: 14px;
  letter-spacing: 1px;
}
.customLoginDialog input::placeholder {
  color: #fff;
}

.customLoginDialog .lenCheck{
  margin: 8px 0 8px 205px;
  color: orangered;
}

/* 登录按钮 */
.customLoginDialog button[type="submit"] {
  width: 60%;
  height: 32px;
  margin: 30px 85px 10px;
  font-size: 14px;
  color: #fff;
  border: none;
  border-radius: 16px;
  background-color: rgba(255, 255, 255, 0.2);
  transition: .4s;
}
.customLoginDialog button[type="submit"]:hover {
  letter-spacing: 3px;
  background-color: #fff;
  color: #000;
}

/* 去注册 小字 */
.customLoginDialog .control {
  color: #fff;
  margin: 5px 0 20px 140px;
  font-size: 13px;
}
.customLoginDialog .control a {
  color: #fff;
  margin: 0 5px;
  letter-spacing: 1px;
  text-decoration: underline;
}
.customLoginDialog .control a:hover {
  color: #000;
}
.customLoginDialog .registerText{
  color: #fff;
  margin: 5px 0 20px 150px;
  font-size: 13px;
}
.customLoginDialog .registerA{
  color: #fff;
  margin: 0 5px;
  letter-spacing: 1px;
  text-decoration: underline;
}