<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- 引入饿了么ui样式 -->
	<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
	<!-- 引入icon页面图标 -->
	<link rel="shortcut icon" href="./images/logo.jpg" />
	<!-- 引入字体图标 -->
	<link rel="stylesheet" href="./lib/font/iconfont.css">
	<!-- 引入页面 CSS文件 -->
	<link rel="stylesheet" href="./css/article.css">
	<!-- 引入页面 初始化样式 -->
	<link rel="stylesheet" href="./css/init.css">
	<!-- 引入页码 公共样式 -->
	<link rel="stylesheet" href="./css/public.css">
	<!-- 引入页面 响应式样式 -->
	<link rel="stylesheet" href="./css/Responsive.css">
	<!-- 引入代码高亮插件 -->
	<link rel="stylesheet" href="./lib/highlight/styles/vs2015.min.css">
	<!-- <link rel="stylesheet" href="./lib/highlight/styles/xcode.min.css"> -->
	<script src="./lib/highlight/highlight.min.js"></script>
	<title>Yuexing - 文章页面</title>
</head>

<body>
<div id="app">
	<!-- 导航栏 -->
	<div class="nav">
		<div class="w">
			<!-- 一级导航 -->
			<ul class="one">
				<!-- 菜单 -->
				<li class="item" id="menu">
					<a href="javascript:;" style="display: inline-block;">
						<i class="iconfont icon-caidan1"></i>
					</a>
				</li>

				<!-- logo -->
				<li class="item1">
					<a href="./" @click="goToHomePage()">
						<!--						<img src="./image/logo2.png" alt="" id="logo">-->
						<img src="images/whiteLogo.png" alt="" id="logo">
					</a>
				</li>

				<li class="item1">
					<a href="./links.html">
						<i class="iconfont icon-shouye"></i>小组介绍
					</a>
				</li>

				<li class="item1">
					<a href="./" @click="setCollectNow()">
						<i class="iconfont icon-bijiben1"></i>我的收藏
					</a>
				</li>

				<li class="item1">
					<a href="./" @click="setHistoryNow()">
						<i class="iconfont icon-zuzhijiagou1"></i>阅览历史
					</a>
				</li>

				<!-- 功能栏 -->
				<li class="function">
					<ol>
						<!-- 白天昼夜切换 -->
						<li id="HighlightToggle">
							<img src="./image/taiyang.png" alt="">
						</li>

						<li>
							<a href="javascript:;">
								<i class="iconfont icon-sousuo1"></i>
							</a>
						</li>
					</ol>
				</li>
			</ul>
		</div>
	</div>

	<!-- 遮罩层 -->
	<div class="mask"></div>

	<!-- 主体内容 -->
	<div class="main">
		<div class="w">
			<!-- 文章列表 -->
			<div class="list article_list">
				<!-- 文章详情 -->
				<div class="article">

					<!-- 文章内容 -->
					<div class="article_Info"><h1>{{blog.title}}</h1></div>
					<br>
					<div class="article_Info" v-html="blog.content">
					</div>

					<!-- 点赞 / 收藏 -->
<!--					<div class="post_list">-->
<!--						<a href="javascript:;" class="post_list_Fabulous">-->
<!--							<i class="iconfont icon-dianzan"> 点赞</i>-->
<!--						</a>-->

<!--						<a href="javascript:;" class="post_list_Collection">-->
<!--							<i class="iconfont icon-aixin"> 收藏</i>-->
<!--						</a>-->
<!--					</div>-->

					<!-- 评论 -->
					<div class="comment">
						<!-- 标题 -->
						<div class="title">
							<i class="iconfont icon-pinglun"></i>
							<span>评论</span>
						</div>
						<hr>

						<!-- 评论区 -->
						<div class="comment_box">
							<textarea v-model="newComment.content" name="comment_box" placeholder="来发一针见血的评论吧!"></textarea>
						</div>

						<!-- 评论者信息 -->
						<div class="comment_info">
							<img :src="user.imageUrl != null?
									 './user_upload/' + user.imageUrl : './image/user1.png'" alt="">
							<input type="text" v-model="user.username" disabled>
							<a href="javascript:;" @click="addComment()">提交评论</a>
						</div>

						<!-- 华丽的分割线 -->
						<div class="hr">
							<div></div>
							<!-- 评论区标题 -->
							<div class="title_hr">
								<i class="iconfont icon-pinglun"></i>
								<span>评论区</span>
							</div>
						</div>

						<!-- 评论内容 -->
						<div class="comment_content">
							<ul>
								<li v-for="item in comment">
									<!-- 评论者信息 -->
									<div class="comment_user">
										<img :src="item.imageUrl != null?
									 './user_upload/' + item.imageUrl : './image/user1.png'" alt="">
										<div>
											<span>{{item.username}}</span>
											<span>{{item.createTime}}</span>
										</div>
									</div>

									<!-- 评论内容 -->
									<div class="comment_main">
										{{item.content}}
									</div>

									<!-- 二级评论 -->
<!--									<div class="comment_user1">-->
<!--										&lt;!&ndash; 评论者信息 &ndash;&gt;-->
<!--										<div class="comment_user">-->
<!--											<img src="https://q2.qlogo.cn/headimg_dl?dst_uin=528609062&spec=100" alt="">-->
<!--											<div>-->
<!--												<span>苏小晨</span>-->
<!--												<span>2022-06-11 15:28</span>-->
<!--											</div>-->
<!--										</div>-->

<!--										&lt;!&ndash; 评论内容 &ndash;&gt;-->
<!--										<div class="comment_main">-->
<!--											<a href="javascript:;">@方法总比困难多</a>-->
<!--											<span>加油哦!</span>-->
<!--										</div>-->
<!--									</div>-->
								</li>

							</ul>
						</div>

						<!-- 分页 -->
<!--						<div class="pagination">-->
<!--							<a href="javascript:;">‹‹</a>-->
<!--							<a href="javascript:;">‹</a>-->
<!--							<a href="javascript:;" class="paginationAction">1</a>-->
<!--							<a href="javascript:;">2</a>-->
<!--							<a href="javascript:;">3</a>-->
<!--							<a href="javascript:;">4</a>-->
<!--							<a href="javascript:;">5</a>-->
<!--							<a href="javascript:;">6</a>-->
<!--							<a href="javascript:;">››</a>-->
<!--						</div>-->

						<!-- 加载列表 -->
						<div class="loadList">
							<i class="iconfont icon-loadm"></i>
							<span>加载更多</span>
						</div>
					</div>

					<!-- 占位 -->
					<!-- <div class="occupy"></div> -->
				</div>
			</div>

			<!-- 功能模块 -->
			<div class="function">
				<div class="sticky">
					<!-- 用户详情 -->
					<div class="author">
						<!-- 背景图片 -->
						<div class="author-bg">
							<!-- 头像 -->
							<el-upload
									class="avatar-uploader avatar"
									action="/user/uploadImg"
									:show-file-list="false"
									:on-success="handleAvatarSuccess"
									:before-upload="beforeAvatarUpload">
								<img v-if="user.imageUrl" :src="'./user_upload/' + user.imageUrl">
								<i v-else class="el-icon-plus avatar-uploader-icon"></i>
							</el-upload>
						</div>

						<!-- 作者信息 -->
						<div class="text">
							<h4>
								<a href="javascript:;">{{user.username}}</a>
								<div class="medal"></div>
							</h4>
							<p>{{user.username}},欢迎来到咕噜星</p>
						</div>

						<!-- 功能 -->
						<div class="fun">
							<!-- 登录 -->
							<div class="login" v-if="user.id == 0"><a href="javascript:;" @click="loginDialogVisible=true">登录</a></div>

							<span></span>

							<!-- 注册 -->
							<div class="register" v-if="user.id == 0"><a href="javascript:;" @click="registeDialogVisible=true">注册</a></div>

							<!-- 更换 -->
							<div class="login" style="background-color: green;" v-if="user.id > 0"><a href="javascript:;" @click="loginDialogVisible=true">切换用户</a></div>

							<span></span>

							<!-- 注销 -->
							<div class="register" style="background-color: darkred;" v-if="user.id > 0"><a href="javascript:;" @click="logout()">退出登录</a></div>
						</div>
					</div>

					<!-- 随机文章 -->
					<div class="containerA">
						<!-- 标题 -->
						<div class="title">
							<h3><i class="iconfont icon-suijishushengcheng"></i> 广告位</h3>
							<!-- 小圆点 -->
							<div class="dots">
								<ol>
									<li></li>
									<li></li>
									<li></li>
								</ol>
							</div>
						</div>

						<!-- 随机文章 -->
						<div class="random_Alist">
							<ul>
								<li>
									<i class="iconfont icon-xiangyoujiantou"></i>
									<a href="javascript:;">加入01星球月入百亿</a>
								</li>

							</ul>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>



	<!-- 底部 -->
	<div class="footer">
		<div class="w">
			<!-- 站点信息 -->
			<div class="Web_info">
				<!-- 站点名称 -->
				<div class="Web_name">
					<h1><a href="javascript:;">GuluStar</a></h1>
					<div class="dian"></div>
				</div>

				<!-- 站点描述 -->
				<div class="Web_describe">
					<p>© 2022 <a href="javascript:;">GuluStar</a> - 也许，将会是最好用的博客管理系统！</p>
					<p>Perhaps, it will be the best blog management system!</p>
				</div>
			</div>

			<!-- ICP备案号 -->
			<div class="ICP">
				<a href="https://beian.miit.gov.cn/#/Integrated/index"><i
						class="iconfont icon-icp-license"></i>豫ICP备2020031040号-1</a>
			</div>
		</div>
	</div>

	<!-- 侧边工具栏 -->
	<div class="tool">
		<div class="item">
			<a href="javascript:;">
				<i class="iconfont icon-zhuti_yifu_o"></i>
			</a>
		</div>

		<div class="item">
			<a href="javascript:;" id="returnTop">
				<i class="iconfont icon-fanhuidingbu1"></i>
			</a>
		</div>
	</div>

	<!-- 登录窗口 -->
	<el-dialog
			:lock-scroll="false"
			:visible.sync="loginDialogVisible"
			width="30%"
			center
			:close-on-click-modal="false"
			custom-class="customLoginDialog">
		<h1>LOGIN</h1>
		<input type="text" placeholder="帐号" v-model="loginInfo.account" @blur="checkAccLen()">
		<span class="lenCheck" v-if="accTooLong">账号长度不能超过12</span>
		<input type="password" placeholder="密码" v-model="loginInfo.password" @blur="checkPwdLen()">
		<span class="lenCheck" v-if="pwdTooLong">密码长度不能超过20</span>
		<button type="submit" @click="login()">Login</button>
<!--		<div class="control">-->
<!--				<span>没有帐号？<a href="javascript:;"-->
<!--							  @click="loginDialogVisible=false, registeDialogVisible=true">Register</a></span>-->
<!--		</div>-->
	</el-dialog>

	<!-- 注册窗口 -->
	<el-dialog
			:lock-scroll="false"
			:visible.sync="registeDialogVisible"
			width="30%"
			center
			:close-on-click-modal="false"
			custom-class="customLoginDialog">
		<h1 class="register">REGISTER</h1>
		<input type="text" placeholder="昵称" v-model="registeInfo.username" @blur="checkNewNameLen()">
		<span class="lenCheck" v-if="usernameTooLong">昵称长度不能超过10</span>
		<input type="text" placeholder="帐号" v-model="registeInfo.account" @blur="checkNewAccLen()">
		<span class="lenCheck" v-if="newAccTooLong">账号长度不能超过12</span>
		<input type="password" placeholder="密码" v-model="registeInfo.password" @blur="checkNewPwdLen()">
		<span class="lenCheck" v-if="newPwdTooLong">密码长度不能超过20</span>
		<input type="password" placeholder="确认密码" v-model="registeInfo.confirmPwd" @blur="checkTwiceInputPwd()">
		<span class="lenCheck" v-if="checkNewPwd">两次输入的密码不一致</span>
		<button type="submit" @click="registe()">Register</button>
<!--		<div class="registerText">-->
<!--			<span>已有帐号？<a href="javascript:;" class="registerA"-->
<!--						  @click="loginDialogVisible=true, registeDialogVisible=false">Login</a></span>-->
<!--		</div>-->
	</el-dialog>
</div>

	<!-- import Vue -->
	<script src="https://cdn.jsdelivr.net/npm/vue@2.7.8"></script>
	<!--import ajax-axios -->
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	<!-- import Element JavaScript -->
	<script src="https://unpkg.com/element-ui/lib/index.js"></script>
	<script>
		new Vue({
			el: '#app',
			/*
				取得当前博客的ID,然后获取博客内容和评论
			 */
			mounted() {
				this.blog.id = parseInt(sessionStorage.getItem('currBlogId'));
				let currUserId = sessionStorage.getItem('currUserId');
				this.user.id = parseInt(currUserId == null? '0':currUserId);
				this.getContentAndCommentList();
				this.getUserInfo();
			},
			methods: {
				/*
					跳转到主页：删除session有关收藏和历史的数据
				 */
				goToHomePage(){
					sessionStorage.removeItem("collect");
					sessionStorage.removeItem("history");
				},
				/*
					点击收藏 直接跳转到收藏：添加信息到session
				 */
				setCollectNow(){
					sessionStorage.removeItem("history");
					sessionStorage.setItem("collect", "true");
				},
				/*
					点击历史 直接跳转到历史：添加信息到session
				 */
				setHistoryNow(){
					sessionStorage.removeItem("collect");
					sessionStorage.setItem("history", "true");
				},
				/*
					退出登录：清除session里的用户ID
				 */
				logout(){
					sessionStorage.removeItem("currUserId");
					this.user.id = 0;
					this.user.username = '咕噜星用户';
					this.user.status = 1;
					this.user.isAdmin = 0;
				},
				/*
					注册时检查2次密码是否一致
				 */
				checkTwiceInputPwd(){
					if (this.registeInfo.password != this.registeInfo.confirmPwd){
						this.checkNewPwd = true;
					}else {
						this.checkNewPwd = false;
					}
				},
				/*
					注册时检查密码长度
				 */
				checkNewPwdLen(){
					if (this.registeInfo.password != '' && this.registeInfo.password.length > 20){
						this.newPwdTooLong = true;
					}else {
						this.newPwdTooLong = false;
					}
				},
				/*
					检查注册时账号长度
				 */
				checkNewAccLen(){
					if (this.registeInfo.account != '' && this.registeInfo.account.length > 12){
						this.newAccTooLong = true;
					}else {
						this.newAccTooLong = false;
					}
				},
				/*
					注册时检查昵称长度
				 */
				checkNewNameLen(){
					if (this.registeInfo.username != '' && this.registeInfo.username.length > 10){
						this.usernameTooLong = true;
					}else {
						this.usernameTooLong = false;
					}
				},
				/*
					检查账号长度
				 */
				checkAccLen(){
					if (this.loginInfo.account != '' && this.loginInfo.account.length > 12){
						this.accTooLong = true;
					}else {
						this.accTooLong = false;
					}
				},
				/*
					检查密码长度
				 */
				checkPwdLen(){
					if (this.loginInfo.password != '' && this.loginInfo.password.length > 20){
						this.pwdTooLong = true;
					}else {
						this.pwdTooLong = false;
					}
				},
				handleAvatarSuccess(res, file) {
					this.user.imageUrl = "./user_upload/" + res;
				},
				beforeAvatarUpload(file) {
					if (this.user.id == 0){
						this.$message.error('请先登录');
						return;
					}

					const isJPG = file.type === 'image/jpeg';
					const isLt2M = file.size / 1024 / 1024 < 2;

					if (!isJPG) {
						this.$message.error('上传头像图片只能是 JPG 格式!');
					}
					if (!isLt2M) {
						this.$message.error('上传头像图片大小不能超过 2MB!');
					}
					return isJPG && isLt2M;
				},
				/*
					获取用户信息
				 */
				getUserInfo(){
					axios({
						method: "get",
						url: "/user/getUserById?id=" + this.user.id
					}).then(resp => {
						if (resp.data != null){
							this.user = resp.data;
							if (resp.data.imageUrl == null){
								this.imageUrl = "./image/user1.png";
							}else {
								this.imageUrl = "./user_upload/" + resp.data.imageUrl;
							}
						}
					});
				},
				/*
					把评论绑定博客ID和用户ID发送给后端 进行添加到数据库操作
				 */
				addComment(){
					if (this.user.id == 0){
						this.$message({
							center: true,
							duration: 1000,
							showClose: true,
							message: '请先登录',
							type: 'info'
						});
						return;
					}
					this.newComment.blogId = this.blog.id;
					this.newComment.userId = this.user.id;
					axios({
						method: "put",
						url: "/blog/addComment",
						data: this.newComment
					}).then(resp => {
						if (resp.data == 'OK'){
							this.getContentAndCommentList();
							this.newComment.content = '';
							this.$message({
								message: '发表评论成功',
								type: 'success'
							});
						}else {
							this.$message({
								message: '系统异常,发送评论失败',
								type: 'warning'
							});
						}
					});
				},
				/*
					获取博客内容和评论 发送当前博客ID给后端查询用 取得博客对象 包含内容和评论集合
				 */
				getContentAndCommentList(){
					axios({
						method: "get",
						url: "/blog/getContendAndCommentList?blogId=" + this.blog.id,
					}).then(resp => {
						this.blog = resp.data;
						this.comment = resp.data.comment;
					});
				},
				/*
					登录方法，post方式以JSON形式发送账号密码给控制层
					根据返回值是否为空判断是否登录成功，如果成功就重新加载主页
				 */
				login(){
					axios({
						method: "post",
						url: "/user/login",
						data: this.loginInfo
					}).then(resp => {
						if (resp.data != null){
							this.user = resp.data;
							this.loginDialogVisible = false;
							this.$message({
								message: '登陆成功',
								type: 'success'
							});
							sessionStorage.setItem("currUserId", this.user.id);
							for (let i in this.loginInfo) {
								this.loginInfo[i] = '';
							}
						}else {
							this.$message({
								message: '用户名或密码错误',
								type: 'warning'
							});
						}
					});
				},
				/*
					注册方法：把表单的信息封装为JSON对象发给后端
					根据返回值提示用户是否注册成功
				 */
				registe(){
					for (let i in this.registeInfo) {
						if (this.registeInfo[i] == ''){
							this.$message({
								message: '注册信息不能为空，请检查',
								type: 'warning'
							});
							return;
						}
					}

					if (this.usernameTooLong || this.newAccTooLong || this.newPwdTooLong || this.checkNewPwd){
						this.$message({
							message: '您的注册信息有误，请检查',
							type: 'warning'
						});
						return;
					}

					axios({
						method: "put",
						url: "/user/registe",
						data: this.registeInfo
					}).then(resp => {
						if (resp.data == "OK"){
							this.$message({
								message: '注册成功,赶快登录吧!',
								type: 'success'
							});
							this.loginInfo.account = this.registeInfo.account;
							this.loginInfo.password = this.registeInfo.password;
							for (let i in this.registeInfo) {
								this.registeInfo[i] = '';
							}
						}else {
							this.$message({
								message: '注册失败',
								type: 'warning'
							});
						}
					});
				}
			},
			data() {
				return{
					comment: [{								//评论集合：包括评论人、评论内容、评论时间
						username: '张哥',
						content: 'good厉害',
						createTime: '2019-12-31 15:28'
					},
					{
						username: '张哥2',
						content: 'good厉害2',
						createTime: '2019-12-30 15:28'
					}],
					blog: {									//博客内容: id，内容
						id: 1,
						title: 'aaaaaa',
						content: '<p>啊啊啊啊啊</p>'
					},
					user: {									//当前用户
						id: 0,
						username: '咕噜星用户'
					},
					newComment: {							//添加新评论用：包含内容，博客ID，用户ID
						content: '',
						blogId: 0,
						userId: 0
					},
					loginInfo: {                        //登录信息 包括账号、密码
						account: '',
						password: ''
					},
					registeInfo: {                      //注册信息 包括账号、昵称、密码
						username: '',
						account: '',
						password: '',
						confirmPwd: ''
					},
					accTooLong: false,					//判断账号长度
					pwdTooLong: false,					//密码长度
					usernameTooLong: false,				//昵称长度
					newAccTooLong: false,				//注册时账号长度
					newPwdTooLong: false,				//注册时密码长度
					checkNewPwd: false,					//2次密码是否一样
					loginDialogVisible: false,          //用来控制显示登录窗口
					registeDialogVisible: false,        //控制显示注册窗口
					imageUrl: '',						//上传图片地址
				}
			}
		})
	</script>
	<!-- 引入公共 JavaScript文件 -->
	<script src="./js/public.js"></script>
	<!-- 引入页面 JavaScript文件 -->
	<script src="./js/article.js"></script>
</body>

</html>