<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>咕噜星</title>
    <!-- 引入饿了么ui样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</head>

<body>
    <div id="app">
        <el-button @click="loginDialogVisible = true">登录</el-button>
        <el-dialog
                title="提示"
                :visible.sync="loginDialogVisible"
                width="30%"
                center>
            <el-input v-model="accInput" placeholder="请输入账号"></el-input>
            <el-input placeholder="请输入密码" v-model="pwdInput" show-password></el-input>
            <span slot="footer" class="dialog-footer">
                <el-button type="primary" @click="login()">登 录</el-button>
            </span>
        </el-dialog>
    </div>
</body>

<!-- import Vue before Element -->
<script src="https://cdn.jsdelivr.net/npm/vue@2.7.8"></script>
<!--import ajax-axios -->
<script src="plugins/axios-0.18.0.js"></script>
<!-- import Element JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script>
    new Vue({
        el: '#app',
        mounted() {
        },
        methods: {
            /*
                登录方法，post方式以JSON形式发送账号密码给控制层
                根据返回值是否为空判断是否登录成功，如果成功就重新加载主页
             */
            login(){
                axios({
                    method: "post",
                    url: "http://localhost:8080/user/login",
                    data: this.loginInfo
                }).then(resp => {
                    if (resp.data != null){
                        this.loginDialogVisible = false;
                        this.$message({
                            message: '登陆成功',
                            type: 'success'
                        })
                    }else {
                        this.$message({
                            message: '用户名或密码错误',
                            type: 'warning'
                        })
                    }
                });
            }
        },
        data() {
            return{
                loginDialogVisible: false,      //用来控制显示登录窗口
                loginInfo:{                     //登录信息 包括账号和密码
                    account: '',
                    password: ''
                },
                accInput: '',                      //登录时：账号输入框内容
                pwdInput: ''                       //登录时：密码输入框内容
            }
        }
    })
</script>

</html>