<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gulustar.mapper.BlogMapper">

    <resultMap id="blogResultMap" type="gulustar.pojo.Blog">
        <result column="user_id" property="userId"/>
        <result column="release_date" property="releaseDate"/>
        <result column="modify_date" property="modifyDate"/>
    </resultMap>

    <resultMap id="commentResultMap" type="gulustar.pojo.Comment">
        <result column="create_time" property="createTime"/>
    </resultMap>

    <select id="selectCommentsByIds" resultMap="commentResultMap">
        SELECT c.content,c.create_time,u.username
        FROM comment c,user u
        WHERE c.id IN
        <foreach item="id" collection="ids" open="(" separator="," close=")">
            #{id}
        </foreach>
        AND u.id = c.user_id
        ORDER BY create_time DESC;
    </select>

    <select id="selectCountByCondition" resultType="java.lang.Integer">
        select count(*)
        from blog
        <where>
            <if test="conditions.keyword != null and conditions.keyword != ''">
                <bind name="bindKeyword" value="'%' + conditions.keyword + '%'"></bind>
                (title like #{bindKeyword}
                or description like #{bindKeyword}
                or content like #{bindKeyword})
            </if>
            <if test="conditions.category != null and conditions.category != ''">
                and category = #{conditions.category}
            </if>
        </where>
    </select>

    <select id="selectByPageAndCondition" resultMap="blogResultMap">
        select *
        from blog
        <where>
            <if test="Conditions.keyword != null and Conditions.keyword != ''">
                <bind name="bindKeyword" value="'%' + Conditions.keyword + '%'"></bind>
                (title like #{bindKeyword}
                or description like #{bindKeyword}
                or content like #{bindKeyword})
            </if>
            <if test="Conditions.category != null and Conditions.category != ''">
                and category = #{Conditions.category}
            </if>
        </where>
        limit #{start},#{size};
    </select>
    
    <select id="selectByKeyword" resultMap="blogResultMap">
        select *
        from blog
        <where>
            <bind name="bindKeyword" value="'%' + keyword + '%'"></bind>
            title like #{bindKeyword}
            or description like #{bindKeyword}
            or content like #{bindKeyword}
        </where>
    </select>
</mapper>