<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gulustar.mapper.UserMapper">

    <resultMap id="userResultMap" type="gulustar.pojo.User">
        <result column="is_admin" property="isAdmin"/>
    </resultMap>

    <resultMap id="followResultMap" type="gulustar.pojo.Follow">
        <result column="follow_id" property="followId"/>
        <result column="user_id" property="userId"/>
    </resultMap>

    <resultMap id="historyResultMap" type="gulustar.pojo.History">
        <result column="user_id" property="userid"/>
        <result column="blog_id" property="blogid"/>
    </resultMap>
</mapper>
